{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Products</h1>

{% if is_granted('ROLE_SELLER') %}

<a href="{{ path('product_create') }}">Create Product</a>

{% endif %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price ($)</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">
                    {{ product.name }}
                    </a>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
